@font-face {
    font-family: "Fonte1";
    src: url("ELEGANT\ TYPEWRITER\ Light.ttf");
}
* {
    margin: 0;
}

#logo {
    width: 160px;
    height: 160px;
    border-radius: 50px;
    padding-top: -2px;

}

#cabecalho {
    /*ajeitando o cabecalho e puxando a div*/
    width: auto;
    height: 150px;
    background-color: rgb(238, 187, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: max-content;
    background-color: rgb(243, 204, 159);
}


#menu {
    /*ajeitando o cabecalho e puxando a div*/
    width: auto;
    height: 90px;
    background-color: rgb(209, 172, 129);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: "Fonte1";
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

#imgHome{
    width:550px; 
    height:550px;
}

#imgHome {
    border-radius: 10%;
    border: 5px rgb(199, 170, 115) solid;
    box-shadow: rgb(202, 184, 124) 5px 5px 10px 1px;
}

#conteudo {
    padding: 30px;
    background-color: rgb(238, 224, 199);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fonte1";
    font-size: 35px;

}

#conteudoHistoria {
    background-color: rgb(238, 224, 199);
    width: auto;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fonte1";
    font-size: 30px;

}

#rodape {
    /*ajeitando o cabecalho e puxando a div*/
    width: auto;
    height: 110px;
    background-color: rgb(243, 204, 159);
    text-align: center;
    font-family: "Fonte1";
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 20px;
}

#insta {
    margin: 10px;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 30px;
    padding: 30px;
    background-color: rgb(238, 224, 199);
    height: fit-content;
    font-family: "Dream";
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

#galeria img {
    border-radius: 10%;
    border: 5px rgb(163, 137, 117) solid;
    box-shadow: rgba(100, 90, 69, 0.993) 5px 5px 10px 1px;
}

#Padaria {
    width: 560px;
    height: 560px;
    justify-content: center;
    margin: 20px;
    border-radius: 10%;
    border: 5px rgb(126, 105, 99) solid;
    box-shadow: rgb(116, 98, 82) 5px 5px 10px 1px;

}

#contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 30px 30px 30px 30px 150px;
    background-color: rgb(238, 224, 199);
    height: 450px;
    font-family: "Dream";
    color: rgb(59, 112, 156);
    padding: 30px;
}

#contato iframe {
    grid-column: 2;
    grid-row: 1/6;
    justify-self: center;
}

#contato label {
    grid-column: 1;
    align-self: center;
}

#contato input {
    grid-column: 1;
}

#contato textarea {
    grid-column: 1;
}


/*pra ve como fica no celular paisagem*/
@media (min-width: 300px) and (max-width: 400px), (orientation: landscape) { 
    #conteudo {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 15px;
        gap: 10px;
    }
    #cabecalho {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #imgHome{
        width:280px; 
        height:280px;
    }
    #menu {
        font-size: 15px;
    }

    #conteudoHistoria {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 15px;
        padding: 20px;
    }
    #Padaria {
        width: 250px;
        height: 250px;
    }

    #galeria {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #capcuk {
        width: 250px;
        height: 250px;
    }
    .imagensGaleria{
        width: 180px;
        height: 180px;
    }


}

