@font-face {
    font-family: "Fonte1";
    src: url("ELEGANT\ TYPEWRITER\ Light.ttf");
}
*{
    margin: 0 ;
}

body {
    background-color: rgb(238, 187, 138);
    width: 100%;
    height: fit-content;
}


#logo {
    width: 160px;
    height: 160px;
    border-radius: 50px;
    padding-top: -2px;

}

#cabecalho {
    /*ajeitando o cabecalho e puxando a div*/
    width: auto;
    height: 150px;
    background-color: rgb(238, 187, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}


#burguer {
    background-color: rgb(243, 204, 159) ;
    color: rgb(5, 5, 5);
    display: block;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: wheat;
    color: black;
}
#menu {
    /*ajeitando o cabecalho e puxando a div*/
    width: auto;
    height: fit-content;
    background-color: rgb(209, 172, 129);
    display: none;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: "Fonte1";
    font-size: 25px;
    
}

#menu li {
    padding: 10px;
    background-color: rgb(209, 172, 129);
  
    border-radius: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
}


#menu a {
    text-decoration: none;
    color: white;
}

#imgHome{
    width:550px; 
    height:550px;
}

#imgHome {
    border-radius: 10%;
    border: 5px rgb(199, 170, 115) solid;
    box-shadow: rgb(202, 184, 124) 5px 5px 10px 1px;
}

#conteudo {
    padding: 30px;
    background-color: rgb(238, 224, 199);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fonte1";
    font-size: 35px;

}

#conteudoHistoria {
    background-color: rgb(238, 224, 199);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fonte1";
    font-size: 30px;

}

#rodape {
    /*ajeitando o cabecalho e puxando a div*/
    width: auto;
    height: auto;
    background-color: rgb(238, 187, 138);
    text-align: center;
    font-family: "Fonte1";
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 20px;
}

#insta {
    margin: 10px;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 30px;
    padding: 30px;
    background-color: rgb(238, 224, 199);
    height: fit-content;
    font-family: "Dream";
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

#galeria img {
    border-radius: 10%;
    border: 5px rgb(163, 137, 117) solid;
    box-shadow: rgba(100, 90, 69, 0.993) 5px 5px 10px 1px;
}

#Padaria {
    width: 560px;
    height: 560px;
    justify-content: center;
    margin: 20px;
    border-radius: 10%;
    border: 5px rgb(126, 105, 99) solid;
    box-shadow: rgb(116, 98, 82) 5px 5px 10px 1px;

}

#contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 30px 30px 30px 30px 150px 30px 60px;
    background-color: rgb(238, 224, 199);
    height: fit-content;
    font-family: "Dream";
    color: rgb(59, 112, 156);
    padding: 30px;
    row-gap: 10px;
}

#contato iframe {
    grid-column: 2;
    grid-row: 1/6;
    justify-self: center;
}

#contato label {
    grid-column: 1;
    align-self: center;
}

#contato input {
    grid-column: 1;
}

#contato textarea {
    grid-column: 1;
}

#Enviar {
    width: 100px; 
    height: 30px;
    border-radius: 10px;

}

/*pra ve como fica no celular paisagem*/
@media screen and (max-width: 767px) and (orientation: portrait){ 
    
    #conteudo {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 15px;
        gap: 10px;
    }
    #cabecalho {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #imgHome{
        width:280px; 
        height:280px;
    }
    #menu {
        font-size: 15px;
    }

    #conteudoHistoria {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 15px;
        padding: 20px;
    }
    #Padaria {
        width: 250px;
        height: 250px;
    }

    #galeria {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .imagensGaleria{
        width: 180px;
        height: 180px;
    }

    iframe {
        width: 280px;
        height: 280px;
        padding: 50px;
    }
    
    #contato {
        font-size: 14px; 
        padding: 15px; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px; 
    }
    #contato .formulario {
        width: 100%; 
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #contato .formulario input,
    #contato .formulario textarea {
        font-size: 14px; 
        padding: 10px;
        width: 100%;
        border-radius: 4px;
    }
     
}


    @media (min-width: 767px) {
        #burguer {
            display: none;

        }

        #menu {
            display: flex;
        }
    }

    /*tablet*/
    @media screen and  (min-width: 767px) and (max-width: 866px) and (orientation: portrait) { 
    
        #conteudo {
            flex-direction: column;
            flex-wrap: wrap;
            font-size: 15px;
            gap: 10px;
        }
        #cabecalho {
            flex-direction: column;
            flex-wrap: wrap;
        }
        #imgHome{
            width:280px; 
            height:280px;
        }
        #menu {
            font-size: 15px;
        }
    
        #conteudoHistoria {
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            font-size: 15px;
            padding: 20px;
        }
        #Padaria {
            width: 250px;
            height: 250px;
        }
    
        #galeria {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
       
        .imagensGaleria{
            width: 380px;
            height: 380px;
        }

    iframe {
        width: 380px;
        height: 380px;
    }
    
    #contato {
        font-size: 14px; 
        padding: 15px; 
        display: flex;
        flex-direction: column;
        
        gap: 10px; 
    }
    #contato .formulario {
        width: 100%; 
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #contato .formulario input,
    #contato .formulario textarea {
        font-size: 14px; 
        padding: 10px;
        width: 100%;
        border-radius: 4px;
    }
    
}
   

